NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres

# Générer avec : openssl rand -base64 48
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d